/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralphyl -profile test,<docker/singularity> --outdir <OUTDIR>
        nextflow run main.nf -profile docker,local -c conf/cv24_amplicon.config
        nextflow run main.nf -profile docker,local -c conf/cv24.config  --fastq_dir test_data/meta_run1_test --outdir ~/RAVIG_Metagenome_23-07-2025

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 9,
        memory: '14.5GB',
        time: '4.h'
    ]

    executor = 'local'  // Runs jobs on the local machine instead of a cluster.
    maxForks = 3  // Allows up to 4 tasks (samples) to run in parallel.
    cpus = 3  // Each task is assigned 4 CPU by default.
    memory = '4.7GB'  // Each task is allocated 4GB of RAM.
    time = '2h'  // Each task has a maximum runtime of 2 hours.
}

params {
    // Run 1 samples
    protocol                    = 'amplicon'
    // fastq_dir                   = '/home/ravig/JOHN_MWITA/run1_demux/cav24_run1_20251023/cav24_run1_20251023/20251023_1427_MN17474_FBE17520_5c874d42/fastq_pass'
    // outdir                      = '/home/ravig/JOHN_MWITA/cav24_run1_viraphyl_v0.11.2_output'

    // Run 2 samples
    fastq_dir                   = '/home/ravig/JOHN_MWITA/run2_demux/cav24_run2_20251023/cav24_run2_20251023/20251023_1448_MN33885_FBE17258_a95404c8/fastq_pass'
    outdir                      = '/home/ravig/JOHN_MWITA/cav24_run2_viraphyl_v0.11.2_output'
    min_sequence_length         = 300
    min_read_quality            = 9
    // clair3_model                = 'r1041_e82_400bps_hac_v430'      // dna_r10.4.1_e8.2_400bps_hac@v4.3.0
    ref_fasta                   = "${projectDir}/primerschemes/cva-24/V1.3.0/CVA24_SCHEME.reference.fasta"
    ref_bed                     = "${projectDir}/primerschemes/cva-24/V1.3.0/CVA24_SCHEME.scheme.bed"
    skip_qc                     = true
    skip_phylogenetics          = true
}
