/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralphyl -profile test,<docker/singularity> --outdir <OUTDIR>
        nextflow run main.nf -profile docker,local -c conf/cv24_amplicon.config
        nextflow run main.nf -profile docker,local -c conf/cv24.config  --fastq_dir test_data/meta_run1_test --outdir ~/RAVIG_Metagenome_23-07-2025

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 9,
        memory: '14.5GB',
        time: '4.h'
    ]

    executor = 'local'  // Runs jobs on the local machine instead of a cluster.
    maxForks = 3  // Allows up to 4 tasks (samples) to run in parallel.
    cpus = 3  // Each task is assigned 4 CPU by default.
    memory = '4.7GB'  // Each task is allocated 4GB of RAM.
    time = '2h'  // Each task has a maximum runtime of 2 hours.
}

params {

    // Run 2 samples
    fastq_dir                   = '/home/ravig/CVA24_RES1/CVA24_BATCH_1_27022025_run2'
    outdir                      = '/home/ravig/CVA24_RES1/CVA24_batch1_results2'
    min_sequence_length         = 300
    min_read_quality            = 9
    // clair3_model                = 'r1041_e82_400bps_hac_v430'      // dna_r10.4.1_e8.2_400bps_hac@v4.3.0
    ref_fasta                   = "${projectDir}/primerschemes/cva-24/V1.2.0/cva-24.reference.fasta"
    ref_bed                     = "${projectDir}/primerschemes/cva-24/V1.2.0/cva-24.scheme.bed"
    skip_qc                     = true
    skip_phylogenetics          = true
}
