/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {

    withName: 'GENERATE_SAMPLESHEET_META' {
        publishDir = [
                path: { "${params.outdir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{tsv,csv}"
            ]
    }    
}

//
// Optional configuration options
//
if (!params.skip_qc) {
    process {
        withName: 'MULTIQC_META' {
            ext.args = "--title 'Metagenomics'"
            publishDir = [
                path: { "${params.outdir}/quality_check" },
                mode: params.publish_dir_mode,
                pattern: "*.{html}"
            ]
        }
    }
}

if (!params.skip_classification) {

    process {
        withName: 'MASH_SCREEN' {
            ext.args = "-w"
            publishDir = [
                path: { "${params.outdir}/mash_classification" },
                mode: params.publish_dir_mode,
                pattern: "*.{screen}"
            ]
        }

        withName: 'MASH_REPORT_SUMMARY' {
            ext.args = "--num_lines ${ params.show_organisms ?: 3 } "
            publishDir = [
                path: { "${params.outdir}/summarized_mash_report" },
                mode: params.publish_dir_mode,
                pattern: "*.{tsv}"
            ]
        }

        withName: 'KRAKEN2_KRAKEN2' {
            ext.args = " --use-names "
            publishDir = [
                path: { "${params.outdir}/kraken2_classification" },
                mode: params.publish_dir_mode,
                pattern: "*.{txt,classified.fastq.gz}"
            ]
        }

        withName: 'GENERATE_KRAKEN2_SUMMARY' {
            publishDir = [
                path: { "${params.outdir}/kraken2_summary_reports" },
                mode: params.publish_dir_mode,
                pattern: "*.{tsv,json}"
            ]
        }

        withName: 'GENERATE_KRAKEN2_SUMMARY_HTML' {
            publishDir = [
                path: { "${params.outdir}/kraken2_summary_reports" },
                mode: params.publish_dir_mode,
                pattern: "*.{html}"
            ]
        }
        
    }
}

//
// Optional configuration options
//
if (!params.skip_assembly) {
    process {
    
        withName: 'KRAKENTOOLS_EXTRACTKRAKENREADS' {
            ext.args = [ " --include-parent-genus ",
                         "--fastq-output" 
                        ].join(' ').trim()
            publishDir = [
                path: { "${params.outdir}/extracted_reads" },
                mode: params.publish_dir_mode,
                pattern: "*.{gz}"
            ]
        }

        withName: 'FETCH_FEFERENCE_FASTA' {
            publishDir = [
                path: { "${params.outdir}/taxid_ref_sequences" },
                mode: params.publish_dir_mode,
                pattern: "*.{fasta}"
            ]
        }

        withName: 'GENERATE_CONSENSUS' {
            ext.args = [ " --min-depth ${ params.min_depth ?: 10 }"
                        ].join(' ').trim()
            publishDir = [
                path: { "${params.outdir}/consensus_seqs" },
                mode: params.publish_dir_mode,
                pattern: "*.{fasta}"
            ]
        }
    }
}
