/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralphyl -profile test,<docker/singularity> --outdir <OUTDIR>
        nextflow run main.nf -profile docker,local --fastq_dir data --outdir Results --metadata_tsv metadata.tsv

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '8.GB',
        time: '1.h'
    ]

    executor = 'local'  // Runs jobs on the local machine instead of a cluster.
    maxForks = 4  // Allows up to 4 tasks (samples) to run in parallel.
    cpus = 2  // Each task is assigned 1 CPU by default.
    memory = '2GB'  // Each task is allocated 2GB of RAM.
    time = '2h'  // Each task has a maximum runtime of 2 hours.
}

params {
    pathogen                    = "hMPV"
    fastq_dir                   = "${projectDir}/test_data"
    multi_ref_file              = "${projectDir}/primerschemes/msa_refs/hmpv_genotypes_refs_align.fasta"
    ref_fasta                   = "${projectDir}/primerschemes/hmpv/V1.3.0/hmpv.reference.fasta"
    ref_bed                     = "${projectDir}/primerschemes/hmpv/V1.3.0/hmpv.scheme.bed"
}
