/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralphyl -profile test,<docker/singularity> --outdir <OUTDIR>
        nextflow run main.nf -profile docker,local -c conf/cv24.config
        nextflow run main.nf -profile docker,local -c conf/cv24.config  --fastq_dir test_data/meta_run1_test --outdir ~/RAVIG_Metagenome_23-07-2025

   // viralphyl simulation command    
    nextflow run main.nf -profile docker,local -c conf/viralphyl_simulation_meta.config
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 9,
        memory: '14.5GB',
        time: '4.h'
    ]

    executor = 'local'  // Runs jobs on the local machine instead of a cluster.
    maxForks = 3  // Allows up to 4 tasks (samples) to run in parallel.
    cpus = 3  // Each task is assigned 4 CPU by default.
    memory = '4.7GB'  // Each task is allocated 4GB of RAM.
    time = '6h'  // Each task has a maximum runtime of 6 hours.
}

params {
    protocol                    = 'metagenomics'
    fastq_dir                   = "/home/ravig/Data/pathogen_surveillance_2025.09_run1/fastq"
    outdir                      = "${projectDir}/Metagenomics_OUPUT_FOR_MANUSCRIPT"
    min_reads_per_taxon         = 1000   
    human_genome                = '/home/ravig/Refs/hg38.fa.mmi'
    kraken2_db                  = '/home/ravig/Refs/k2_viral_20251015'
    // local_refs_dir              = '/home/ravig/Refs/local_refs_k2_viral_20250402'
    min_reads_per_taxon         = 1000
    
    
    // kraken2 workflow
    classifier                      = 'kraken2'
}
